<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body align='center'>

    <br>
    <p><b>기구 이름</b>&emsp;{{ ex_detail.ex_name }} </p>
    <p><b>운동 부위</b>&emsp;{{ ex_detail.ex_part }} </p>
    <p><b>운동 방법</b></p>
    {{ ex_text | safe }}
    <p><b>운동 영상 </b></p>
    <a href='{% url 'exercise:upload' %}'><button type='button'>메인 화면으로 이동</button>
    <a href='{% url 'exercise:result' %}'><button type='button'>이전 화면으로 이동</button>
</body>
</html>